@model IEnumerable<DriveInfo>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Explorer</h1>
</div>
<div>
    <a class="btn btn-success" href="@Url.Action("CreateFileOrFolder", "Home", new { path = ViewBag.CurrentDirectory })">
        Create file or folder
    </a>
</div>
<div id="drives">
    @foreach (var drive in Model)
    {
        <div>
            <a href="@Url.Action("Index", "Home", new { path = drive.Name })">
                <h3>@drive.Name</h3>
            </a>
        </div>
    }
</div>
<div class="row">
    <div id="folders"></div>
    <div id="files"></div>
</div>
<script type="text/javascript">
    $('#folders').load('@Url.Action("GetListOfDirectoriesPartial", "Home", new { path = ViewBag.CurrentDirectory })');
    $('#files').load('@Url.Action("GetListOfFilesPartial", "Home", new { path = ViewBag.CurrentDirectory })');
</script>